[flake8]
max-complexity = 8
max-line-length = 80
ignore = S101, W503, B008, S403, S301
exclude =
    .git,
    __pycache__,
    static,
    venv,
    fastapi-metabot/fastapi_metabot/client/,
    fastapi-metabot/build/,
    fastapi-metabot/dist/
